:host {
    --action-primary-background: #ebb0f2;
    --action-primary-foreground: #261f1c;
    --action-secondary-background: #f8f0e0;
    --action-secondary-foreground: #93285e;
    --action-outline-background: #fefefe;
    --action-outline-foreground: #2a2a2a;

    --layout-spacing-small: 4px;
    --layout-spacing-medium: 12px;
    --layout-spacing-large: 24px;

    --layout-background-standard: #ffffff;
    --layout-background-subtle: #f3f3f9;
    --layout-background-transparent: transparent;
}